
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Image Gallery</a>
<!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
<!--    <span class="navbar-toggler-icon"></span> -->
<!--   </button> -->

  <div class="navbar" id="navbarSupportedContent"> <!-- collapse navbar-collapse -->
    <ul class="navbar-nav "> <!-- mr-auto -->
      <li class="nav-item active">
        <a class="nav-link" href="#"> Upload Image <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gallery']">Gallery</a>
      </li>
  
    </ul>
    
  </div>
</nav>