
<div class="container">
	<a (click)="closeClick()" *ngIf="clickedit">
		<img src="assets/images-file/close.png" alt="Close Button">
	</a>

	<!-- This div tag becomes active only when an image is clicked -->
	 <div class="row" *ngIf="clickedit">
		<div class="container">
			<div class="row" style="text-align: center;">
				<div class="col-12" >
				  <div class="card">
				  	<div class="card-bg-black">

						<figure class="figure">
			 				 <img src="assets/Back-end/uploads/{{clickedImage.src}}" 
			 				 class="figure-img img-fluid img-thumbnail mx-auto d-block"
			 				 alt="Image cannot be displayed"
			 				 style="max-height: 500px; max-width: auto;
			 				   object-position: contain;">
			 				 <figcaption class="figure-caption text-left" 
			 				 style="font-weight: bold; font-size:xx-large; text-align: center;">
			 					{{clickedImage.title}}</figcaption>
			 				 <figcaption class="figure-caption text-left" 
			 				 style="text-align: center;">
			 					{{clickedImage.desc}}</figcaption>
						</figure>
					</div>
				  </div>
					
				</div>
			</div>
		</div>
	</div>

	<!-- Div tag for displaying the images in the gallery -->
	<div class="row">
		<div class="container">
			<div class="row imagerow">
				<div class="col-xs-6 col-md-2 imagecol " *ngFor= "let i of images">
				  <div>
					<figure class="figure">
						<a (click)="clicked(i)">
						<div>
		 				 <img src="assets/Back-end/uploads/{{i.src}}" 
		 				 class="figure-img img-fluid img-thumbnail mx-auto d-block"
		 				 alt="Image cannot be displayed"
		 				 style="height: 150px;  width: auto;
		 				   object-position: contain;">
		 				</div>	
		 				</a>
		 				<a (click)="clicked(i)">
		 				 <figcaption class="figure-caption text-left">{{i.title}}</figcaption>
		 				</a>
					</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>		

